Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a=0

def b():
    global a
    a = c(a)
    return a

def c(a):
    return a + 2

print(b())
print(b())
print(b())
print(a)

2
4
6
6

In the first function call global a is 0 when c is called it becomes 0+2 = 2 
In the next b() call a is 2 and 2+2 =4
In the same way 4+2 = 6 
last prin(a) becomes 6

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [6]:
def fileLength(filename):
    try:
        open_file = open(filename, 'r')
        file_data = open_file.read()
        length_of_file = len(file_data)
        open_file.close()
        return length_of_file
    except:
        return "file "+ filename + " not found."

In [7]:
fileLength('Filelenght.txt')

123

In [8]:
fileLength("file.txt")

'file file.txt not found.'

Question 3
Write a class named Marsupial that can be used as shown below:
m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:
class Marsupial:

    def __init__(self):
        self.new_list = []
        self.new_list.clear()

    def put_in_pouch(self, value):
        self.new_list.append(value)

    def pouch_contents(self):
        return self.new_list
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and

c. overloads the str operator so it behaves as shown below

In [9]:
class Kangaroo(Marsupial):

    def __init__(self,x,y):
        self.new_list = []
        self.new_list.clear ()
        self.x = x
        self.y = y
        
    def  __str__(self):
         return ("I am a Kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")")

    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
    
        
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x={ 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 , 3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [11]:
def collatz(input):
    
    new_list = [input]
    if input < 1:
        return ("Enter a postive integer")

    if input == 1:
        return [1]
    
    elif input % 2 == 0:
        new_list.extend(collatz(int(input/2)))
    else:
        new_list.extend(collatz((input*3)+1))
    return new_list

In [12]:
values = collatz(1)
for value in values:
    print(value)

1

In [13]:
values = collatz(10)
for value in values:
    print(value)

10
5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [14]:
def binary(input): 
    if input<0: 
        return ("Enter postive integer")
    
    elif input >=1: 
        return ((10*binary(int(input/2))) + (input%2))
        
    else: 
        return 0

In [15]:
binary(0)

0

In [16]:
binary(1)

1

In [17]:
binary(3)

11

In [18]:
binary(9)

1001

Question 8:
Write SQL queries on the below database table that return:

In [12]:
import sqlite3

# connect to database
conn = sqlite3.connect('weather3.db')

# create cursor object
c = conn.cursor()

# create table 
c.execute('''CREATE TABLE weather(City TEXT,Country TEXT,Season TEXT,Temperature REAL,Rainfall REAL)''')

# inserting data 
data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
                ('Mumbai', 'India', 'Spring', 28.4, 16.2),
                ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
                ('Mumbai', 'India', 'Fall', 27.6, 346.0),
                ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
                ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
                ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
                ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
                ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
                ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
                ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
                ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
c.executemany('INSERT INTO weather VALUES (?, ?, ?, ?, ?)', data)

# commit changes and close connection
conn.commit()
conn.close()

In [13]:
import sqlite3

# connect to database
conn = sqlite3.connect('weather3.db')

# create cursor object
c = conn.cursor()

a) All the temperature data.

In [14]:
c.execute('SELECT Temperature FROM weather')
temperature_data = c.fetchall()
print(temperature_data)

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

b) All the cities, but without repetition.

In [16]:
c.execute('SELECT DISTINCT City FROM weather')
cities = c.fetchall()
print(cities)

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [17]:
c.execute("SELECT * FROM weather WHERE Country = 'India'")
india_records = c.fetchall()
print(india_records)

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [18]:
c.execute("SELECT * FROM weather WHERE Season = 'Fall'")
fall_records = c.fetchall()
print(fall_records)

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [19]:
c.execute("SELECT City, Country, Season FROM weather WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season")
rainfall_records = c.fetchall()
print(rainfall_records)

[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [20]:
c.execute("SELECT City, Country FROM weather WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
fall_temp_records = c.fetchall()
print(fall_temp_records)

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [21]:
c.execute("SELECT SUM(Rainfall) AS Total_Rainfall FROM weather WHERE City = 'Cairo'")
cairo_rainfall = c.fetchone()[0]
print(cairo_rainfall)

27.6

h) The total rainfall for each season

In [22]:
c.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM weather GROUP BY Season")
season_rainfall = c.fetchall()
print(season_rainfall)

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

Question 9
Suppose list words is defined as follows:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c)[3, 5, 5, 3, 5, 4, 3, 4, 3](the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [23]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

def upper(words):
    upper_case_list = []
    for word in words:
        upper_case_list.append(word.upper())
    return upper_case_list

def lower(words):
    lower_case_list = []
    for word in words:
        lower_case_list.append(word.lower())
    return lower_case_list

def length_of_words(words):
    word_length_list = []
    for word in words:
        word_length_list.append(len(word))
    return word_length_list

def upper_lower_length_of_words(words):
    final_list = []
    upper_lower_length_of_words_list = []
    for word in words:
        upper_lower_length_of_words_list.clear()
        upper_lower_length_of_words_list.append(word.upper())
        upper_lower_length_of_words_list.append (word.lower())
        upper_lower_length_of_words_list.append (len(word))
        new_list = upper_lower_length_of_words_list.copy()
        final_list.append(new_list)
        return final_list

def check_word_length(words):
    word_length = []
    for word in words:
        if len(word) > 3:
            word_length.append(word)
    return word_length

print(upper(words))
print(lower(words))
print(length_of_words(words))
print(upper_lower_length_of_words(words))
print(check_word_length(words))

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']